h2(class="title")= title

div#accountNotFound
  p We weren't able to find your user account in our system!

  p If you wanted to register as a student, click
    &nbsp;
    a(href="/register") register\!
    
  p If you have questions, contact the program administrator!

  p Have a fantastic day!

