h2= title

div#messages
  p= error

  form#activity(method="post")
    input(name="activityNew[internship_id]", value=internship.id, type="hidden")
    input(name="activityNew[user_id]", value=internship.id, type="hidden")
    input(type="submit", value="submit")
    table
      tr
        td
          label scheduled\ on:
        td
          input(name="activityNew[scheduled_on]")
      tr
        td
          label description:
        td
          textarea(name="activityNew[description]", rows=10, cols=45)
