script
  $('document').ready(function(){
      $('#scheduledOnDatePicker').datepicker({
          dateFormat: 'yy-mm-dd',
          defaultDate: +1,
          onSelect: function(dateText, inst) {
              $('[name="activityNew[scheduled_on]"]').val(dateText);
          }
      });

      $("#scheduledOnDatePicker").attr("readOnly", true);

      $("#activity").validate({
          rules: {
              "activityNew[scheduled_on]": "required",
              "activityNew[description]": "required"
          },
          messages: {
              "activityNew[scheduled_on]": "please select a scheduled on date",
              "activityNew[description]": "please provide a description"
          }
      });
  });

h2= title

div#messages
  p= error

  form#activity(method="post")
    input(type="submit", value="submit")
    table
      tr
        td
          label scheduled\ on:
        td
          input(id="scheduledOnDatePicker", name="activityNew[scheduled_on]")

    table      
      tr
        td
          label description:
      tr
        td
          textarea(name="activityNew[description]", rows=10, cols=45)
