<p>Students can receive up to ten academic credits toward their degree for documented
degree-related experience. Each five academic credits awarded must be deemed
educationally equivalent to five hours of CSS or ITS elective coursework. Ten hours of credit
typically requires one quarter of full-time commitment or two quarters of part-time
commitment. A CSS/ITS faculty advisor, a sponsoring organization senior professional
mentor, and a CSS/ITS student form the internship team, and together they develop the
detailed project plan. The plan must clearly identify the learning objectives and the
program competencies that are further developed through participation in the
internship. The CSS or ITS student will write a formal report detailing her/his project and
her/his individual accomplishments. The report and an evaluation by the faculty
advisor and senior professional mentor will determine the grade for the internship.
This report will be a public document.</p>
