h2(class="title") Welcome to #{title}

h3(class="title") Mission Statement

p
  We will provide an efficient web-based solution that will revolutionize the management of internships for the students and their sponsers at the Institute of Technology UWT

p
  The University of Washington Tacoma Computing & Software Systems (CSS) and Information Technology and Systems (ITS) Internship Program develops and promotes opportunities for CSS and ITS students to receive academic credit for degree-related, paid work experience for students who have completed the CSS/ITS core course requirements. The program also strives to develop opportunities for non-degree-related work experiences for all matriculated CSS and ITS students.
  
p
  The Internship program provides students with the opportunity to apply theoretical and conceptual classroom knowledge to practical work experiences, helps students gain broad experience in a professional work environment. It provides employers with the opportunity to involve students who are eager to employ new skills and methodology in select professional design, implementation, and/or research projects. 