!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  div#toplinks
    a(href='/login') login
    &nbsp
    a(href='/register') register
    
  body!= body
