!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  div#toplinks
    - if (user) 
      a(href='/logout') logout
    - else
      a(href='/login') login
      &nbsp;
      a(href='/register') register
    
  body!= body
