h2(class="title")= title

div#passwordRecoverySent

  p You should receive an email shortly, with a link that will allow you to change your password!

  p If you have trouble, contact the program administrator!

  p Have a fantastic day!

