h2(class="title")= title

div#recoverPassword
  p Enter your email below and push the submit button,
  p if your email address in our system, we'll send you a message with instructions to reset your password
  form(method="post")
    input(name="recoverPassword[host]", value=host, type="hidden")
    table
      tr
        td
          label email\ address\:
        td
          input(name="recoverPassword[email_address]")
    p
      input(type="submit", value="submit")
