script
  $('document').ready(function() {
      // validate signup form on keyup and submit
      $("#registerForm").validate({
          rules: {
              "newUser[first_name]": "required",
              "newUser[last_name]": "required",
              "newUser[password]": {
                  required: true,
                  minlength: 5
              },
              "newUser[confirm_password]": {
                  required: true,
                  minlength: 5,
                  equalTo: "#password"
              },
              "newUser[email_address]": {
                  required: true,
                  email: true
              }
          },
          messages: {
              "newUser[first_name]": "please enter your first name",
              "newUser[last_name]": "please enter your last name",
              "newUser[password]": {
                  required: "please provide a password",
                  minlength: "your password must be at least 5 characters long"
              },
              "newUser[confirm_password]": {
                  required: "please provide a password",
                  minlength: "your password must be at least 5 characters long",
                  equalTo: "please enter the same password as above"
              },
              "newUser[email_address]": "please enter a valid email address"
          }
      });
  });

h2(class="title")= title

div#register
  form#registerForm(method="post")
    input(name='newUser[role]', value="student", type="hidden")
    table
      tr
        td
          label first\ name:
        td
          input(name='newUser[first_name]')
      tr
        td
          label last\ name:
        td
          input(name='newUser[last_name]')
      tr
        td
          label email\ address\:
        td
          input(name='newUser[email_address]')
      tr
        td
          label password\:
        td
          input#password(name='newUser[password]', type="password")
      tr
        td
          label confirm\ password\:
        td
          input(name='newUser[confirm_password]', type="password")
    p
      input(type="submit", value="register")

div#error
  =message
