h2= title

div#messages
  p= error

  form#requestParticipant(method="post")
    input(name="requestParticipant[password]", value="shhh", type="hidden")
    input(name="requestParticipant[host]", value=host, type="hidden")
    input(type="submit", value="send request")
    table
      tr
        td
          label participant\ type:
        td
          select(name='requestParticipant[role]', style="width: 100%;")
            - var a = ['advisor', 'sponsor']
            each v in a
              option(value=v)=v
      tr
        td
          label first\ name:
        td
          input(name="requestParticipant[first_name]")
      tr
        td
          label last\ name:
        td
          input(name="requestParticipant[last_name]")
      tr
        td
          label email\ address:
        td
          input(name="requestParticipant[email_address]")
    p
    table
      tr
        td
          label request\ message:
      tr
        td
          textarea(name='requestParticipant[message]', rows=10, cols=45)

