script
  $('document').ready(function() {
      $("#resetPasswordForm").validate({
          rules: {
              "resetPassword[password]": {
                  required: true,
                  minlength: 5
              },
              "resetPassword[confirm_password]": {
                  required: true,
                  minlength: 5,
                  equalTo: "#password"
              },
          },
          messages: {
              "resetPassword[password]": {
                  required: "please provide a password",
                  minlength: "your password must be at least 5 characters long"
              },
              "resetPassword[confirm_password]": {
                  required: "please provide a password",
                  minlength: "your password must be at least 5 characters long",
                  equalTo: "please enter the same password as above"
              }
          }
      });
  });

h2(class="title")= title

div#resetPassword
  form#resetPasswordForm(method="post")
    input(name='resetPassword[email_address]', value=email_address, type="hidden")
    table
      tr
        td
          label email\ address\:
        td
          input(name='display_email_address', value=email_address, disabled=true)
      tr
        td
          label password\:
        td
          input#password(name='resetPassword[password]', type="password")
      tr
        td
          label confirm\ password\:
        td
          input(name='resetPassword[confirm_password]', type="password")
    p
      input(type="submit", value="reset")
