h2(class="title")= title

div#resetSuccessful
  p Your password was successfully changed!

  p To review your internships, go ahead now, 
    &nbsp;
    a(href="/login") login\!
    
  p Have a fantastic day!

